h2 {
  font-size: 36px;
  color: rgb(85, 85, 85);
}

h4 {
  font-size: 18px;
  color: rgb(71, 112, 161);
}

p {
  font-size: 14.4px;
}

.carousel-indicators {
  bottom: 20px;
}

.carousel-indicators > li {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.carousel-item {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: 50% 50%;
  height: 562px;
  min-height: 562px;
}

.slide-voiture-2:before {
  -webkit-transform-style: preserve-3d;
  background: rgba(104,104,104,0.35);
  content: "";
  display: block!important;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  width: 100%;
}

.slide-voiture-1 h1 {
  margin-bottom: 40px;
}

.slide-voiture-2 .btn {
  margin-top: 40px;
}

.slide-voiture-1 {
  background-image: url("/img/voiture1.jpeg");
}

.slide-voiture-2 {
  background-image: url("/img/voiture2.webp");
}

.slide-center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  height: auto;
}

.slider-home-header h1, .slider-home-header h4 {
  color: #fff;
}

.btn-primary {
  color: rgb(255, 255, 255);
  border-radius: 1000px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: rgb(0, 0, 0);
  padding: 14px 28px;
  font-size: 20px;
  font-weight: 700;
}

.css-1yk3s2f.s-first-section-arrow:not(._on-top-of-second-section) {
  position: absolute;
  bottom: 0px;
  height: 25px;
  width: 100%;
  left: 0px;
  z-index: 100;
}

.css-1yk3s2f.s-first-section-arrow:not(._on-top-of-second-section) .shape1, .css-1yk3s2f.s-first-section-arrow:not(._on-top-of-second-section) .shape2 {
  position: absolute;
  bottom: 0px;
  width: 50%;
  height: 0px;
  box-sizing: border-box;
  border-width: 25px 25px 25px;
  border-style: none solid solid;
  border-color: rgb(232, 234, 236) rgb(232, 234, 236) rgb(232, 234, 236);
  border-image: initial;
  border-top: none;
}

.css-1yk3s2f.s-first-section-arrow:not(._on-top-of-second-section) .shape1 {
  left: 0px;
  border-right-color: transparent !important;
}

.css-1yk3s2f.s-first-section-arrow:not(._on-top-of-second-section) .shape1, .css-1yk3s2f.s-first-section-arrow:not(._on-top-of-second-section) .shape2 {
  position: absolute;
  bottom: 0px;
  width: 50%;
  height: 0px;
  box-sizing: border-box;
  border-width: 25px 25px 25px;
  border-style: none solid solid;
  border-color: rgb(232, 234, 236) rgb(232, 234, 236) rgb(232, 234, 236);
  border-image: initial;
  border-top: none;
}

.css-1yk3s2f.s-first-section-arrow:not(._on-top-of-second-section) .shape2 {
  right: 0px;
  border-left-color: transparent !important;
}

.section-content {
  padding: 40px 0;
  h2 {
    margin-bottom: 15px;
  }
  h4 {
    margin-bottom: 40px;
  }
}

.welcome-p-last {
  margin-bottom: 40px;
}

.section-content .col-lg-4 p {
  font-size: 15px;
  margin-top: 35px;
}

.s-social-icon {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  background: rgba(71,112,161,0.5);
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
}

#welcome.section-content {
  padding-bottom: 0;
}

footer {
  padding: 75px 0;
  p {
    margin-bottom: 0;
  }
}

